/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #171717; */
  background: #dadada;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
